<div>
  <label id="header1">Profile Editor</label>
</div>

<div *ngIf="!displayEdit">
 <div> <label id="header2">User Information</label></div>
  <form  id="diplayForm" (ngSubmit)="toggleEdit()">
    <div>     <label for="name" class="input-label">Name:</label>
      <label id="name" name="name">{{user.value.name}}</label>
    </div>
    <div>
      <label for="name" class="input-label">Age:</label>
      <label id="age" name="Age">{{user.value.age}}</label>
    </div>
  
    <div>
      <label for="name" class="input-label">Favorite Color: </label>
      <label id="favoriteColor" name="FavoriteColor">{{user.value.favoriteColor}}</label>
    </div>

    <div>
      <label for="gender" class="input-label"> Gender: </label>
      <label id="gender" name="Gender">{{user.value.gender}}</label>
    </div>
<br/> 
    <div>
      <button type="submit">Toggle Edit</button>
    </div>


  </form>
</div>
<div *ngIf="displayEdit">
  <div> <label id="header2">Update User Information</label></div>
  <form id="editForm" [formGroup]="user" (ngSubmit)="saveChanges()">
    <div><label for="name" class="input-label">Name:</label>
      <input formControlName="name" type="text" id="name" name="name" />

    </div>
    <div>
      <label for="age" class="input-label">Age:</label>
      <input formControlName="age" type="number" id="age" name="age"/>
    </div>

    <div> 
      <label for="favoriteColor" class="input-label">Favorite Color: </label>
      <input formControlName="favoriteColor" type="text"  id="favoriteColor" name="favoriteColor" />
    </div>
    
    <div>
      <label for="gender" class="input-label">Gender: </label>
      <select formControlName="gender" (change)="onProfileChange()"  name="gender">
        <option [ngValue]="null" disabled > Select Gender</option>
        <option *ngFor ="let gdr of allGender" [ngValue]="gdr.genderName" >{{gdr.genderName}}</option>
      </select>
    </div>

    <div>
      <button type="submit">Save Changes</button>
    </div>
    <br/>
    <div>
      <button type="button" (click)="toggleEdit()">Toggle Edit</button>
    </div>
  </form>
</div>

<!-- /******************************* using ngForm*************************************/
 
<div *ngIf="displayEdit">
  <h2>Update User Information</h2>
  <form id="editForm"  #userForm="ngForm" (ngSubmit)="saveChanges(userForm)">
    <p><label for="name" class="input-label">Name:</label>
      <input type="text" id="name" name="name" [(ngModel)]="formUser.value.name"/>

    </p>
    <p>
      <label for="age" class="input-label">Age:</label>
      <input type="number" id="age" name="age" [(ngModel)]="formUser.value.age"/>
    </p>
    <p> 
      <label for="favoriteColor" class="input-label">FavoriteColor: </label>
      <input type="text"  id="favoriteColor" name="favoriteColor" [(ngModel)]="formUser.value.favoriteColor"/>
    </p>
    <p>
      <label for="gender" class="input-label">Gender: </label>
      <select formControlName="allGender" (change)="onProfileChange()"  name="gender" class="input-label">
        <option [ngValue]="null" disabled > Select Gender</option>
        <option *ngFor ="let gdr of allGender" [ngValue]="gdr.gIndex" >{{gdr.genderName}}</option>
      </select>
    </p>
    <p>
      <button type="submit">Save Changes</button>
    </p>
    <p>
      <button type="button" (click)="toggleEdit()">Toggle Edit</button>
    </p>
  </form>
</div> -->
